@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jokker";
  font-weight: 500;
  src: url("fonts/jokker/jokker-medium/jokker-medium.woff2") format("woff2"),
    url("fonts/jokker/jokker-medium/jokker-medium.woff") format("woff");
}

@font-face {
  font-family: "jokker";
  font-weight: 400;
  src: url("fonts/jokker/jokker-regular/jokker.woff2") format("woff2"),
    url("fonts/jokker/jokker-regular/jokker.woff") format("woff");
}

@font-face {
  font-family: "jokker";
  font-weight: 300;
  font-style: "italic";
  src: url("fonts/jokker/jokker-light-italic/jokker-lightitalic.woff2")
      format("woff2"),
    url("fonts/jokker/jokker-light-italic/jokker-lightitalic.woff")
      format("woff");
}

@layer base {
  html {
    font-family: "jokker", Averta, system-ui, sans-serif;
  }
  html,
  body {
    @apply bg-gray-1;
  }
  body {
    /* @apply overflow-hidden;
    @apply h-full;
    @apply w-full; */
  }
}

/* LENIS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* ANIMATION */
.usecase-in {
  transform: translateY(40);
}

.usecase-out {
  transform: translateY(0);
}

.explore-in {
  width: 200;
}

.explore-out {
  width: auto;
}

/* FEATURES */
.features {
  display: grid;

  @media (min-width: 1024px) {
    min-height: 90svh;
    gap: 1rem;
    grid-template-areas:
      "alt alt alt alt alt oms oms"
      "alt alt alt alt alt oms oms"
      "alt alt alt alt alt oms oms"
      "alt alt alt alt alt oms oms"
      "hel hel hel spl spl spl spl"
      "hel hel hel spl spl spl spl"
      "hel hel hel inv inv mad mad"
      "hel hel hel inv inv mad mad";
  }

  gap: 0.5rem;
  min-height: 70svh;
  grid-template-areas:
    "alt alt alt alt oms oms oms"
    "alt alt alt alt oms oms oms"
    "alt alt alt alt oms oms oms"
    "alt alt alt alt oms oms oms"
    "mad mad mad spl spl spl spl"
    "mad mad mad spl spl spl spl"
    "inv inv inv hel hel hel hel"
    "inv inv inv hel hel hel hel";
}

.alt {
  grid-area: alt;
}

.oms {
  grid-area: oms;
}

.mad {
  grid-area: mad;
}

.spl {
  grid-area: spl;
}

.hel {
  grid-area: hel;
}

.inv {
  grid-area: inv;
}

/* Title animation */
@keyframes slideTitleUp {
  0% {
    transform: translate(0px, 120%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

.animated-title {
  position: relative;
  display: inline-block;
  margin: -0.15em;
  padding: 0.15em;
  vertical-align: top;
  overflow: hidden;
}

.animated-title-element {
  position: relative;
  display: inline-block;
  transform: translate(0px, 120%);
  will-change: auto;
  animation-name: slideTitleUp;
  animation-duration: 1.2s;
  animation-delay: 0.05s;
  animation-timing-function: cubic-bezier(0.34, 0.34, 0, 0.97);
  animation-fill-mode: forwards;
}

.animated-title:nth-of-type(1) .animated-title-element {
  animation-delay: 0.15s;
}

.animated-title:nth-of-type(2) .animated-title-element {
  animation-delay: 0.3s;
}

.animated-title:nth-of-type(3) .animated-title-element {
  animation-delay: 0.45s;
}

.animated-title:nth-of-type(4) .animated-title-element {
  animation-delay: 0.6s;
}

.animated-title:nth-of-type(5) .animated-title-element {
  animation-delay: 0.7s;
}

.animated-title:nth-of-type(6) .animated-title-element {
  animation-delay: 0.75s;
}

/* Cards Animation */
@keyframes slideDown {
  0% {
    transform: translate(0px, 20%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

.features a {
  transform: translate(0px, 20%);
  will-change: auto;
  animation-name: slideDown;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.features a:nth-of-type(1) {
  animation-delay: 0.15s;
}

.features a:nth-of-type(2) {
  animation-delay: 0.15s;
}

.features a:nth-of-type(3) {
  animation-delay: 0.45s;
}

.features a:nth-of-type(5) {
  animation-delay: 0.45s;
}

.features a:nth-of-type(4) {
  animation-delay: 0.3s;
}

.features a:nth-of-type(6) {
  animation-delay: 0.3s;
}
